<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.BlueBerry">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/knu_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/knu_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueBerry"
        tools:targetApi="31">
        <activity
            android:name="com.BlueBerry.IntroActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.BlueBerry.DeviceListActivity"
            android:label="@string/select_device"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.BlueBerry.MainActivity"/>
        <activity android:name="com.BlueBerry.p1Activity"/>
        <activity android:name="com.BlueBerry.p2Activity"/>
        <activity android:name="com.BlueBerry.p3Activity"/>
        <activity android:name="com.BlueBerry.p4Activity"/>
        <activity android:name="com.BlueBerry.p5Activity"/>
        <activity android:name="com.BlueBerry.p6Activity"/>
        <activity android:name="com.BlueBerry.p7Activity"/>
        <activity android:name="com.BlueBerry.p8Activity"/>
    </application>
</manifest>